@tailwind base;
  @tailwind components;
  @tailwind utilities;



html {
    font-size: 10.5px; /* 1em = 10px, 10/16 = 62.5% */
}
*{
    margin:0;
    padding:0;
}

strong{
    color: black;
}


  .animate{
      position: absolute;
      top:0;
      left:0;
      bottom: 0;
      right: 0;
      background-color: white;
      display: block;
      animation: out forwards ease-in 1.8s;
      z-index:10;
  }


  @keyframes out {
        0%{
            display: block;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            display: none;
        }
    
  }

.App{
    background-image: url('../../assets/zebra_bg.svg');
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin:auto;
    position: relative;
  }

.Waitlistbox{
    color: black;
    background-color: white;
    width: 70vw;
    height: max-content;
    display: flex;
    text-align: center; 
    flex-direction: column;
    align-items: center;
    font-size: 2.4em; /* 24px */
    padding: 1em 0;
}

.logo{
    width:5em;
    height:1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: last baseline;
    margin:0;
    height:7em;
}

.fireContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:7em;
    aspect-ratio: 1;
  }
  .fireContainer .fire {
    transform: scale(1.4);
  }



.boxTitle{
    color: black;
    margin:0 auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 1000;
    letter-spacing: -0.04em; /* -2px */
    font-size:2.3em; /* 56px */
}

.boxDescription{
    width: 85%;;
    color: rgba(125, 125, 125, 1);
    margin: 0.6em; /* 6% */
    font-family: "Nunito", sans-serif;
    font-size: 0.88em; /* large */
    text-align: center;
    line-height: 1.1em;
}

.themeFont{
    color: rgba(250, 0, 255, 1);
}

.WaitlistContent{
    color: black;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 800;
    font-size: 1.45em; /* 36px */
}


.timer{
    display: flex;
    width: 40em; /* 400px */
    position: inherit;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    padding:0.1em; /* 3px */
    align-items: center;
    justify-content: space-between;
    width: 40%; 
    height:2em; /* 40px */
    background-color: #fff;
    border-radius: 5em; /* 50px */
    border: solid 0.075em black; /* 1px */
    margin: 0 auto;
}


.email_input {
    border: none;
    outline: none;
    border-radius: 1.5em; /* 45px */
    padding: 0.05em; /* 5px */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em; /* 18px */
    margin-left: 0.5em; /* 5px */   
}
.email_input::placeholder {
    color: #8a8a8a;
}
.button {
    background-color: #000;
    font-family: "Inter", sans-serif;
    font-size: 0.8em; /* 16px */
    font-weight: 700;
    width: 60%;
    color: #fff;
    border: none;
    border-radius: 5em; /* 50px */
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 0.8em;
    transition: all 0.3s ease-in-out;
}


svg{
    width: 1.5em; /* 20px */
    height: 1.5em; /* 20px */   
}

.button:hover {
    background-color:rgba(250, 0, 255, 1);
    color: #ffffff;
    transform: scale(0.95);
}
.button:active{
    background-color:rgb(125, 5, 128);
    transform: scale(0.85);

}

.userCount{
    margin: 1em;
    font-size: 0.9em;
    font-family: "Cousine", monospace;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2em;;
}
.error{
    font-size: 0.8em;
    color: red;
}

.loader {
    margin-right: 0.5rem; /* mr-2 */
    height: 2rem; /* h-4 */
    width: 2rem; /* w-4 */
    animation: spin 1s linear infinite; /* animate-spin */
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 1600px) {
    html {
        font-size: 10px; /* 1em = 8px, 8/16 = 50% */
    }
    .WaitlistBox{
        width: 80vw;
    }
}

/* Media Query for tablet screens */
@media screen and (max-width: 1200px) {
    html {
        font-size: 9px; /* 1em = 8px, 8/16 = 50% */
    }
    .WaitlistBox{
        width: 80vw;
    }
}

/* Media Query for tablet screens */
@media screen and (max-width: 768px) {
    html {
        font-size: 8px; /* 1em = 8px, 8/16 = 50% */
    }
    .Waitlist-box{
        justify-content: space-between;
    }
    .boxTitle{
        width: 80%;
        font-size: 2em; /* 56px */
    }
    .boxDescription{
        font-size: 0.7em;;
    }
    .container{
        flex-direction: column;
        border: none;
        gap: 0.5em;
        margin: 0 auto;;
        height: max-content;
        width: 80%;
    }
    .email_input{
        width: 100%;
        padding: 0.75em;
        border: solid 0.075em black; /* 1px */
        font-size: 1em;
    }
    .button{

        width: 50%;
        padding: 0.3em;
        font-size: 0.9em;
    }
    svg{
        width: 1em; /* 20px */
        height: 1em; /* 20px */
    }

    .userCount{
        margin:1em 0em 0em 0em;
    }
}

/* Media Query for mobile screens */
@media screen and (max-width: 480px) {
    html {
        font-size: 7px; /* 1em = 6px, 6/16 = 37.5% */
    }

    .Waitlistbox{
    width: 90vw;
    }

    .header {
        width: 80%;
        font-size: 0.8em; /* 56px */
    }
    .fireContainer {
        height: 5em;
    }
    .fire{
        transform: scale(1.2);
    }
    .WaitlistContent{
        font-size: 1em; /* 36px */
    }
    .boxDescription{
        font-size:0.6em;
    }
    .email_input{
        width: 100%;
        padding: 0.75em;
        border: solid 0.075em black; /* 1px */
        font-size: 0.8em;
    }
    .button{
        width: 70%;
        padding: 0.3em;
        font-size: 0.75em;
    }
    svg{
        width: 1em; /* 20px */
        height: 1em; /* 20px */
    }

    .userCount{
        margin:1em 0em 0em 0em;
    }

}

.disabled {
    pointer-events: none;
  }

