.element{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}   